html,
body
{
	font-family:		 Arial, Helvetica, sans-serif;
	font-size:			 12px;
	font-weight:		 normal;
	color:				 #000000;
	background-color:	 #212538;
	text-align:			 left;
	padding:             0;
	margin:              0;
	text-align:          center;
	vertical-align:      middle;
}

a
{
	font-size:			 14px;
	font-weight:         bold;
	color:               #008029;
	text-decoration:     none;
}

a:hover
{
	color:               #2CC100;
	text-decoration:     underline;
}

.hover:hover
{
	cursor:              pointer;
/*	background-color:    #D1D8E0; */
}

div#background
{
	padding:             0;
	margin:              auto;
	width:               1015px;
	height:              749px;
	text-align:          left;
	vertical-align:      top;
}

table#mainTable
{
	table-layout:        fixed;
	background-image:    url(background_body.jpg);
	background-position: top left;
	background-repeat:   no-repeat;
}

table#mainTable,
table#mainTable td
{
	padding:             0;
	margin:              0;
	border:              0;
}

td#upperLeft
{
	width:               103px;
	height:              144px;	
}

td#upperRight
{
	width:               912px;
	background-image:    url(cards1.jpg);
	background-position: 480px 0px;
	background-repeat:   no-repeat;
	text-align:          right;
	vertical-align:      bottom;
	font-variant:        small-caps;
	color:               #FFFFFF;
}

td#upperRight a
{
	font-family:		 Arial, Helvetica, sans-serif;
	font-size:			 12px;
	font-weight:		 bold;
	color:               #FFFFFF;
}

td#lowerRight
{
	background-color:	 #B4BFCD;
	min-height:          603px;
	text-align:          left;
	vertical-align:      top;
	background-image:    url(background_divmain.jpg);
	background-position: 1px 1px;
	background-repeat:   no-repeat;
}

div#main
{
	padding:             0;
	margin:              0;
	border:              1px solid #FFFFFF;
	width:               910px;
	min-height:          601px;
	overflow:            hidden;
}

td#footerRight
{
	height:              30px;
/*	background-image:    url(credits.jpg);
	background-position: center center;
	background-repeat:   no-repeat; */
	text-align:          center;
	color:               #FFFFFF;
}

td#footerRight a
{
	font-size:			 12px;
	color:		     	 #FFFFFF;
}

