
div.pod
{
	padding:             10px;
}

div.pod pre
{
	border:              1px solid #FFFFFF;
	background-color:	 #CAB680;
	padding-top:         13px;
}

div.pod img
{
	padding-right:       13px;
	border:              0;
}
